$background: #bdc0c7;
$black: #333333;
$white: #ffffff;
$disabled-light: #ececec;
$disabled-dark: #acacac;
$list-active: #bdc0c7;
$list-selected: #acacac;
$transition-fast: 0.1s;
$transition-medium: 0.3s;
$transition-long: 0.5s;
