form.select
	.select__options
		p.select__selected Выберите марку
		ul.select__list.select__list--hidden
	.select__checkboxes
		label.selected__label Хронограф, или другое усложнение механизма
			input.select__chronograph(id='chronograph' type='checkbox') 
		label.selected__label Серебряный корпус
			input.select__silver(id='silver' type='checkbox') 
		label.selected__label Золотой корпус
			input.select__gold(id='gold' type='checkbox') 
	.select__result Цена
	input.select__input.visually-hidden