main.main-content
	section.desktop
		.desktop__wrapper.grid
			include desktop-files
		.desktop__footer
			.desktop__start
				svg(width='94' height='77')
					use(href="img/sprite-multi.svg#windows-logo")