form.select
	label(for='price').select__result Цена
	input(id='price').select__input.visually-hidden
	.select__wrapper
		.select__options
			input.visually-hidden(id='chronograph' name='chronograph' type='checkbox') 
			label.selected__label(for ='chronograph')
				span Хронограф, или другое усложнение механизма
			input.visually-hidden(id='silver' name='silver' type='checkbox') 
			label.selected__label(for='silver')
				span Серебряный корпус
			input.visually-hidden(id='gold' name='gold' type='checkbox') 
			label.selected__label(for='gold')
				span Золотой корпус
		.select__menu
			button(type='button').select__button Выберите марку
			ul.select__list.select__list--hidden