.select {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.select__menu {
  position: relative;
  width: 100%;
}

.select__button {
  align-items: center;
  border: 1px solid rgb(0 0 0 / 25%);
  cursor: pointer;
  display: flex;
  font-family: "montserrat-bold", Arial, sans-serif;
  font-size: 1em;
  justify-content: center;
  min-height: 50px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

.select__list {
  background-color: #ffffff;
  border: 1px solid #a0a0a0;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  display: flex;
  flex-direction: column;
  height: auto;
  list-style: none;
  margin: 0;
  max-height: calc(100vh - 80px);
  overflow: auto;
  padding: 0;
  position: absolute;
  scrollbar-width: none;
  top: 60px;
  transition: 0.3s;
  width: 100%;
  z-index: 10;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.select__list--hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
}

.select__item {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 50px;
  user-select: none;

  &:not(:last-child) {
    border-bottom: 1px solid #a0a0a0;
  }
}

.select__item--selected {
  background-color: #cccccc;
}

.select__result {
  border: 1px solid rgb(0 0 0 / 25%);
  font-size: 20px;
  line-height: 28px;
  min-height: 30px;
  text-align: center;
  width: 100%;
}

.select__checkboxes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select__checkbox {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.select__checkbox + .selected__label {
  align-items: center;
  display: inline-flex;
  gap: 20px;
  min-height: 40px;
  user-select: none;

  &::before {
    border: 1px solid #000000;
    border-radius: 5px;
    content: "";
    flex-shrink: 0;
    height: 30px;
    width: 30px;
  }
}

.select__checkbox:checked + .selected__label {
  &::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 347 234'%3E%3Cpath fill='%23020202' d='m306 1 41-1c-27 3-54 13-77 27-38 23-71 55-99 90-30 36-55 75-77 117-30-35-62-69-94-102l45-44 38 59A291 291 0 0 1 306 1Z'/%3E%3C/svg%3E")
      center/80% no-repeat;
  }
}

.select__checkbox:disabled + .selected__label {
  &::before {
    background-color: rgb(225 225 225);
    border: 1px solid #8f8f8f;
  }
}
