.select {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.select__menu {
  position: relative;
  width: 100%;
}

.select__button {
  align-items: center;
  border: 1px solid rgb(0 0 0 / 25%);
  cursor: pointer;
  display: flex;
  font-family: "montserrat-bold", Arial, sans-serif;
  font-size: 1em;
  justify-content: center;
  min-height: 50px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

.select__list {
  background-color: #ffffff;
  border: 1px solid #a0a0a0;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  max-height: 80vh;
  overflow: auto;
  padding: 0;
  position: absolute;
  scrollbar-width: none;
  top: 60px;
  transition: 0.3s;
  width: 100%;
  z-index: 10;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.select__list--hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
}

.select__item {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 50px;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
  user-select: none;

  &:not(:last-child) {
    border-bottom: 1px solid #a0a0a0;
  }

  &:active {
    background-color: #c4e3ff;
  }
}

.select__item--selected {
  background-color: #c4e3ff;
}

.select__result {
  border: 1px solid rgb(0 0 0 / 25%);
  font-size: 20px;
  line-height: 28px;
  min-height: 30px;
  text-align: center;
  width: 100%;
}

.select__checkboxes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select__checkbox {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.select__checkbox + .selected__label {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 20px;
  min-height: 40px;
  position: relative;
  transition: 0.3s;
  user-select: none;

  &::before {
    background-color: #aaebff;
    border: 2px solid rgb(120, 65, 172);
    border-radius: 20px;
    content: "";
    flex-shrink: 0;
    height: 30px;
    transition: 0.3s;
    width: 60px;
  }

  &::after {
    background-color: rgb(82, 74, 190);
    border: 2px solid #4d8394;
    border-radius: 50%;
    content: "";
    height: 24px;
    left: 4px;
    position: absolute;
    transition: 0.3s;
    width: 24px;
  }
}

.select__checkbox:checked + .selected__label {
  &::before {
    background-color: rgb(151, 64, 233);
  }

  &::after {
    left: 32px;
  }
}

.select__checkbox:disabled + .selected__label {
  cursor: default;
  &::before {
    background-color: rgb(225 225 225);
    border: 1px solid #8f8f8f;
  }
  &::after {
    background-color: #8f8f8f;
  }
}
