.select {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  justify-content: space-between;
  padding: 30px 10px;
  width: 100%;
}

.select__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.select__menu {
  position: relative;
  width: 100%;
}

.select__button,
.select__result {
  align-items: center;
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 25%);
  cursor: pointer;
  display: flex;
  font-family: "din1451-regular", "Arial", sans-serif;
  font-size: 1.5em;
  justify-content: center;
  letter-spacing: 0.04em;
  min-height: 50px;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
  width: 100%;
}

.select__list {
  background-color: #ffffff;
  border-radius: 10px;
  bottom: 60px;
  box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  max-height: calc(100vh - 180px);
  overflow: auto;
  padding: 0;
  position: absolute;
  transition: 0.2s;
  width: 100%;
  z-index: 10;
}

.select__list--hidden {
  max-height: 0;
  pointer-events: none;
}

.select__item {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 50px;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
  user-select: none;

  &:not(:last-child) {
    border-bottom: 1px solid #c3c3c3;
  }

  &:active {
    background-color: rgb(185 220 255);
  }
}

.select__item--selected {
  background-color: rgb(185 220 255);
}

.select__options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type="checkbox"] {
  & + label {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 20px;
    min-height: 40px;
    position: relative;
    transition: 0.3s;
    user-select: none;

    &::before {
      background-color: #ffffff;
      border: 2px solid #333333;
      border-radius: 1000px;
      content: "";
      flex-shrink: 0;
      height: 24px;
      transition: 0.3s;
      width: 44px;
    }

    &::after {
      background-color: #333333;
      border-radius: 50%;
      content: "";
      height: 16px;
      left: 4px;
      position: absolute;
      transition: 0.3s;
      width: 16px;
    }
  }

  &:checked + label {
    &::before {
      background-color: #333333;
    }

    &::after {
      background-color: #ffffff;
      left: 24px;
    }
  }

  &:disabled + label {
    cursor: default;

    &::before {
      background-color: #e5e5e5;
      border-color: #c5c5c5;
    }

    &::after {
      background-color: #c5c5c5;
    }
  }
}
